<module>
    <menu>
        <title>ExtractOpenData</title>
        <point>
            <name>getTOC</name>
            <callback>showTOC</callback>
        </point>
        <point>
            <name>makeRDF</name>
            <callback>sourceToRDF</callback>
        </point>
        <point>
            <name>RDF ↦ GeoJSON</name>
            <callback>rdf_to_geojson</callback>
        </point>
    </menu>
</module>